body{
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
h1{
    position: absolute;
    opacity: 0;
    bottom: -10;
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    width: 300px;
}
.card img{
    max-width: 100%;
    border-radius: 0.8rem;
}
.cardTexts{
    text-align: center;
}
.text1{
    font-weight: 700;
    font-size: 1.3rem;
    margin: 1rem;
}
.text2{
    color:  hsl(212, 45%, 70%);
    font-weight: 400;
    margin: 1rem;
    font-size: 15px;
}